.login{
    height: 800px;
    background-size:cover;
    background-image: url("../../../public/assets/image/wallpaper-login.jpg");
}

.form-login{
    margin-top:5%;
    color: #ffffff;
 }

.user-image{
    width: 40%;
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
}