.image-modal{
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
    margin-top: 5%;
}

.close-button{
    padding: 30px !important;
    position: absolute;
    margin-right: 30px;
    margin-top:-1%;
}